#regionsAvaliable.inputGroup{
	margin-left: 20px;
}
header {
	background-color:#000000;
	color: #ffffff;
}

header hgroup{
	display: inline-block;
}
header h1, header h2 {
	display: inline-block;
	font-size: 1.5em;
	margin: 0;
}

header link {
	color: #ffffff;
}

header a, header a:hover {
	color: #ffffff;
}

header nav {
	float: right;
	display: inline-block;
	font-size: 1.2em;
	margin-top: 0.5em
}
header nav ul {
	margin: 0;
	padding: 0;
	display: inline-block;
}

header nav ul li {
	list-style: none;
	display: inline-block;
	margin: 0em 1em;
}

/* query bar*/

#queryBar{
	padding-top: 1em;
	background: #fafafa;
	padding-bottom: 1em;
}

.weekButtons button.btn{
	text-align: center;
	width:4em;
	margin-top: 0.3em
}
/* data area */
#dataArea {
	padding-top: 1em;
}

.gridStyle {
	width: 100%;
	height: 300px
}

