#regionsAvaliable.inputGroup{
	margin-left: 20px;
}

.gridStyle {
	border: 1px solid rgb(212,212,212);
	width: 100%;
	height: 300px
}

header {
	background-color:#000000;
}

nav 



<header>
	<hgroup>
		<h1><a href="http://www.metoffice.gov.uk"><img alt="Met Office" src="../img/MOlogosmall.png" /></a></h1>
		<h2>Retail Portal</h2>
	</hgroup>
	<nav>
		<ul>
			<li><a href="/MyAccount" title="My account">My account</a></li>
			<li><a href="/ougout" title="Log out">Log out</a></li>
		</ul>
	</nav>
</header>