<div>
	<div ng-controller="DaysSelectorCtrl">
		<label >Days:</label>
		<p class="inputGroup">
			<button class="btn btn-primary" btn-checkbox ng-model="days.monday">Mon</button>
			<button class="btn btn-primary" btn-checkbox ng-model="days.tuesday">Tue</button>
			<button class="btn btn-primary" btn-checkbox ng-model="days.wednesday">Wed</button>
			<button class="btn btn-primary" btn-checkbox ng-model="days.thursday">Thu</button>
			<button class="btn btn-primary" btn-checkbox ng-model="days.friday">Fri</button>
			<button class="btn btn-primary" btn-checkbox ng-model="days.saturday">Sat</button>
			<button class="btn btn-primary" btn-checkbox ng-model="days.sunday">Sun</button>
		</p>
	</div>
</div>