div.base{
	width:600px;
	height:400px;
	margin-left:115px;
	background: #EEE;
}

div.leftBase{
	float:left;
	width:auto;
}

div.rightBase{
	float:right;
}
table {
	width: 100%;
	border: 1px solid #cef;
	text-align: left; }
th {
	font-weight: bold;
	background-color: #fff;
	border-bottom: 1px solid #cef; }
td,th {
	padding: 4px 5px; }
	
tr:nth-child(even) {
  background-color: red;
}